[submodule "JUCE"]
	path = submodules/JUCE
	url = https://github.com/juce-framework/JUCE.git
[submodule "submodules/googletest"]
	path = submodules/googletest
	url = https://github.com/google/googletest.git
